.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
  color: #1f2937;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-logo{
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
}

.header-text{
  display: flex;
  flex-direction: column;
  text-align: left;

}

.header__title {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.header__description {
  margin-top: 8px;
  font-size: 16px;
  color: #4b5563;
}
