#root {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

.app-container {
    padding: 30px 32px;
    background-color: #6397cc;
    /* max-width: 1200px; */
    border-radius: 8px;
    margin: 60px auto;
    overflow: auto;
}