#root {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

.app-container {
    padding: 40px 32px;
    background-color: #6397cc;
    border: 1px solid black;
    border-radius: 8px;
    margin: 60px auto;
    overflow: auto;
}